/* Global Sytles */
.main-content {
	padding: 20px 0;
}

/* Tabs */
.nav.nav-tabs {
	padding: 0 10px;
}
.nav-item {
	width: 50%;
	text-align: center;
}
.tab-content {
	padding: 5px 10px;
}
.panel-body {
	text-align: center;
}
.panel-body img {
	display: block;
	margin-bottom: 16px;
	width: 100%;
}
.panel-body a {
	font-size: 18px;
}

/* Dice */
h3.header {
	border-bottom: 1px solid lightgray;
	margin-bottom: 8px;
	color: #808080;
	font-size: 14px;
}
#dice-select, #dice-pool, #results-wrapper {
	display: flex;
	flex-wrap: wrap;
}
#dice-select {
	justify-content: space-evenly;
	margin-bottom: 16px;
}
#dice-pool {
	justify-content: center;
	margin-top: 15px;
	min-height: 50px;
	position: relative;
}
#results-wrapper {
	justify-content: center;
}
#dice-pool .dice {
	margin: 0 4px 8px 4px;
}
#results-wrapper .results-icon {
	margin: 5px 8px;
}
.dice {
	height: 40px;
	width: 40px;
	display: inline-block;
	background-position: center;
	background-size: cover;
	position: relative;
}
.proficiency-die {background-image: url("edge-img/dice/proficiencybg.png");}
.ability-die {background-image: url("edge-img/dice/abilitybg.png");}
.boost-die {background-image: url("edge-img/dice/boostbg.png");}
.challenge-die {background-image: url("edge-img/dice/challengebg.png");}
.difficulty-die {background-image: url("edge-img/dice/difficultybg.png");}
.setback-die {background-image: url("edge-img/dice/setbackbg.png");}
.icon-wrapper {
	position: absolute;
    right: 13px;
    top: 14px;
}
.icon-wrapper.two-icons {
	top: 8px;
}
.icon {
	height: 13px;
    width: 13px;
	background-position: center;
	background-size: cover;
}
.results-icon {
	height: 30px;
    width: 30px;
	display: inline-block;
	background-position: center;
	background-size: cover;
}
.success-icon {background-image: url("edge-img/dice/success.png");}
.adv-icon {background-image: url("edge-img/dice/advantage.png");}
.triumph-icon {background-image: url("edge-img/dice/triumph.png");}
.failure-icon {background-image: url("edge-img/dice/failure.png");}
.threat-icon {background-image: url("edge-img/dice/threat.png");}
.despair-icon {background-image: url("edge-img/dice/despair.png");}
.failure-icon.black {background-image: url("edge-img/dice/failure-black.png");}
.threat-icon.black {background-image: url("edge-img/dice/threat-black.png");}
.despair-icon.black {background-image: url("edge-img/dice/despair-black.png");}
.difficulty-die-wrapper .dice.to-roll .icon-wrapper {
	top: 11px;
}
.difficulty-die-wrapper .dice.to-roll .icon-wrapper.two-icons {
	top: 5px;
}
.challenge-die-wrapper .dice.to-roll .icon-wrapper.two-icons {
	top: 5px;
}
.message {
	font-size: 13px;
	color: #808080;
}
#pool-message {
	position: absolute;
    bottom: 5px;
}
.results-wrapper {
	height: 200px;
}
.btn-wrapper {
	position: absolute;
	bottom: 5px;
	width: calc(100% - 20px);
}
.btn-wrapper button.btn-primary{
	width: calc(80% - 2px);
	height: 46px;
}
.btn-wrapper button.btn-danger{
	width: calc(20% - 2px);
	height: 46px;
}
